.div{
    background-color: thistle;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    margin: auto;
    padding: 10px 30px;
    box-sizing: border-box;
    position: relative;
}
.age{
    width: 150px;
    height: 30px;
    display: flex;
    position: absolute;
    margin-bottom: 100px;

}
.gender{
    width: 10px;
    height: 30px;
    display: flex;
    margin-top: 70px;

}
.height{
    width: 150px;
    height: 30px;
    margin-bottom: 10px;
    display: block;
}
.weight{
    width: 150px;
    height: 30px;
    display: block;

}
.btn{
    width: 150px;
    height: 30px;
    position: absolute;
    bottom: 70px;
}
.body{
    background-image: url(https://media.istockphoto.com/photos/empty-gym-picture-id1132006407?k=20&m=1132006407&s=612x612&w=0&h=Z7nJu8jntywb9jOhvjlCS7lijbU4_hwHcxoVkxv77sg=);
    background-repeat: no-repeat;
    background-size: cover;
}